@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

.jupiter {
  height: 500px;
}

.wallet-adapter-button-trigger {
  background: rgb(100, 26, 230) !important;
  border-radius: 8px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.wallet-adapter-dropdown-list,
.wallet-adapter-button {
  font-family: inherit !important;
}


.dev-wrapper {
  background-image: url('/dev.png');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  padding-left: 25px;
}
